/assets/asistensi
/assets/file
/assets/jurnal
/assets/laporan
/assets/panduan
/assets/persetujuan-kp
/assets/persetujuan-ujian
/assets/plagiasi
/assets/ttd
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework
/storage/logs
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
