* {
    font-family: 'Jost', 'raleway', 'lato', sans-serif;
}
.bg-primary {
    background-color: #2764af !important;
}
.text-primary {
    color: #2764af !important;
}
.btn-primary {
    color: #fff;
    background-color: #2764af !important;
    border-color: #2764af !important;
}
.btn-outline-primary {
    color: #2764af !important;
    border-color: #2764af !important;
}
.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #2764af !important;
    border-color: #2764af !important;
}
.nav-active {
    border-bottom: .05rem #2764af solid;
    color: #2764af !important;
}
.badge-primary {
  color: #fff !important;
  background-color: #2764af !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: inherit;
  background-color: inherit;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #2764af !important;
  background-color: #fff !important;
  border: 1px solid #dee2e6 !important;
}

.page-link:hover {
  z-index: 2;
  color: #2764af !important;
  text-decoration: none;
  background-color: #e9ecef !important;
  border-color: #dee2e6 !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff !important;
  background-color: #2764af !important;
  border-color: #2764af !important;
}

.nav-bottom{
    padding: .25rem .25rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #343a40;
}

.nav-bottom-active{
    color: #2764af !important;
}

.badge-notif{
  font-size: .6rem; 
  position: absolute;
  left: 27%;
}

.caret-off::before{
    display: none !important;
}
.caret-off::after{
    display: none !important;
}
caption{
  padding-top: 0;
  padding-bottom: 0.50rem;
  color: #343a40;
  text-align: center;
  caption-side: top;
}